.container{
    background-color: white;
    padding: 15px;
    border-radius: 2%;
}

.titlemain{
    text-align: center;
    padding-bottom: 40px;
}

body{
    background-image: url(https://media.discordapp.net/attachments/720387183227306115/722572551317880892/background.png?width=1015&height=677);
    background-repeat: no-repeat;
    background-size: 100%;
}