body{
    background-image: url(https://media.discordapp.net/attachments/720387183227306115/722572551317880892/background.png?width=1015&height=677);
    background-repeat: no-repeat;
    background-size: 100%;
}

.registrationcard{
    margin: 250px 0px 250px 0px;
    text-align: center;
}