* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-title{
    margin-bottom: 20px;
}

.description-list{
    font-size: 15px;
    color: gray;
    margin-left: 5px;
}

.buy-btn{
    margin: 20px 0px 20px 0px;
}

.rating{
    color: goldenrod;
}

.description{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 20px 0px 20px 0px;
}

.review-section-title{
    margin-top: 20px;
    margin-bottom: 60px;
}

.review-section {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .review-section::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .review-section img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    image-resolution: 50%;
  }
  
  .review-section span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .review-section {
        text-align: center;
    }
    .review-section img {
        margin: auto;
        float: none;
        display: block;
    }
  }