form div + div {
    margin-top: 1vw;
}

.label {
    width: 50vw;
}

.input{
    font: 1em sans-serif;   
    width: 50vw;
    border: 1px solid darkgray;
    border-radius: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}
