* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.meio{
    margin: 2% 0 5% 0;
}

.titulo {
    text-align: center;
}

.enviar{
    margin-top: 4vh;
}

hr{
    margin-left: -20% ;
    width: 140%;
}