* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.meio{
    margin: 2% 0 5% 0;
}

.titulo {
    text-align: center;
}

.enviar{
    margin-top: 4vh;
}

hr{
    margin-left: -20% ;
    width: 140%;
}

.btn-buyhood {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #73a942;
}

.btn-buyhood:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
}