.banner{
    font-size: 15px;
}

.container{
    text-align: center !important;
}

.careers-available{
    font-weight: bold;
    margin-top: 50px;
}

.careers-icon{
    font-size: 50px;
}

.careers-description{
    font-size: 25px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}