h1 {
    font-size: 50px;
}

.inp-buyhood {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-buyhood {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #73a942;
}

.btn-buyhood:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
}