* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.divisao{
    text-align: center;
    padding: 10vh;
    background:#73a942;
    text-transform: uppercase;
    font-weight: bold;
}
.produtos{
    border: black 0.05px;
    background-color: rgb(255, 255, 255);
    margin-top: 10vh;
}
main{
    margin-bottom: 5%;
}
.banner-image{
    width: 100%;
    height: auto;  
}

/* Restaurantes */

.produtos {
    margin: 50px auto;
}

.card-produtos {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 30px 5px;
    position: relative;
    border-radius: 5px;
}

.imagem-mobile {
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.titulo-restaurante {
    text-align: center;
    align-items: center;
    padding: 18px 9px;
    margin: 1px 0;
}

.titulo-restaurante p {
    margin: 0;
}

.link-restaurante {
    color: black;
    text-decoration: none;
}

.link-restaurante:hover {
    text-decoration: none;
    color: black;
}

.card-produtos:after, .card-produtos:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease-in-out;
}

.card-produtos:before {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;

    transform: scaleY(0);
}

.card-produtos:after {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    transform: scaleX(0);
}

.card-produtos:hover:before {
    transform: scaleY(1);
}

.card-produtos:hover:after {
    transform: scaleX(1);
}

.card-produtos:hover {
    cursor: pointer;
}

.button-search {
    font-size: 17px;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px !important;
    border-radius: 5px;
    color: white;
    background-color: #73a942;
    width: 20%;
    position: relative;
    left: 40%;
}

.button-search:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
    cursor: pointer;
}
@media (max-width: 370px){
    h2{
        font-size:20px;
    }
}
@media (max-width: 1024px) {

    .imagem-mobile {
        width: 100%;
        border-radius: 5px 5px 0 0
    }

    .titulo-restaurante {
        text-align: center;
        align-items: center;
        padding: 18px 9px;
        margin: 1px 0;
        font-size: 18px;
    }

    .button-search {
        font-size: 17px;
        text-decoration: none;
        border: 1px solid black;
        padding: 10px 20px !important;
        border-radius: 5px;
        color: white;
        background-color: #73a942;
        width: 60%;
        position: relative;
        left: 20%;
    }
}

