* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.background-tag {
    background-image: linear-gradient(#e2e2e2, white);
}

.titulo-tag {
    text-align: center;
}

.row-tags {
    justify-content: center;
}

.tag, .tag-2 {
    padding: 5px 20px;
    border: solid 1px black;
    border-radius: 50px;
    align-items: center;
    margin: 0 25px;
}

.tag-2 {
    margin: 0 20px;
}

.produtos{
    border: black 0.05px;
    margin-top: 10vh;
}

main{
    margin-bottom: 5%;
}

.produtos {
    margin: 50px auto;
}

.card-produtos {
    width:100% !important;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 30px 5px;
    position: relative;
    border-radius: 5px;
    height: 90%;
}

.imagem-mobile {
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.titulo-restaurante {
    text-align: center;
    align-items: center;
    padding: 18px 9px;
    margin: 1px 0;
}

.titulo-restaurante p {
    margin: 0;
}

.nome-restaurante {
    font-size: 13px;
    color: gray;
}

.link-restaurante {
    color: black;
    text-decoration: none;
}

.link-restaurante:hover {
    text-decoration: none;
    color: black;
}

.imagem-experiencia{
    width:100%; 
    height:350px;
}

.card-produtos:after, .card-produtos:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease-in-out;
}

.card-produtos:before {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;

    transform: scaleY(0);
}

.card-produtos:after {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    transform: scaleX(0);
}

.card-produtos:hover:before {
    transform: scaleY(1);
}

.card-produtos:hover:after {
    transform: scaleX(1);
}

.card-produtos:hover {
    cursor: pointer;
}

.button-search {
    font-size: 17px;
    text-decoration: none;
    padding: 10px 20px !important;
    width: 20%;
    position: relative;
    left: 40%;
}

.tags-mobile{
    display: none;
}

.navbar-toggler{
    color: white;
    border: 1px solid white;
}

.pesquisa-buyhood{
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.form-control:focus{
    border: lightblue solid 2px;
}

@media (max-width: 370px){
    h2{
        font-size:20px;
    }
}
@media (max-width: 1024px) {

    .imagem-mobile {
        width: 100%;
        border-radius: 5px 5px 0 0
    }

    .titulo-restaurante {
        text-align: center;
        align-items: center;
        padding: 18px 9px;
        margin: 1px 0;
        font-size: 18px;
    }

    .tags-mobile{
        display: block;
        text-align: center;
    }

    .tag,.tag-2{
        margin-bottom: 5vw;
    }

    .tags-desktop{
        display: none;
    }

}

