* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #146601;
    /* background-image: linear-gradient(#1a4301, #146601); */
    border-bottom: 1px solid black;
}

.container {
    flex: 1;
}

.nav-buyhood {
    text-align: end;
}


.nav-buyhood .logo-mobile{
    display: block;
}

.nav-buyhood, .logo-desktop {
    margin: 10px 0;
    font-size: -webkit-xxx-large;
}

.nav-buyhood li {
    right: 100px;
    font-size: 20px;
    display: inline-block;
    margin: 0 25px;
}

.item-nav-buyhood {
    color: white;
}

.item-nav-buyhood:hover {
    color: white;
}

.pesquisa-buyhood {
    height: 40px;
    width: 100%; /* Mexer tamanho input */
    position: relative;
}

.pesquisa-buyhood input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: 50px;
}

.icone-pesquisar-buyhood {
    border: none;
    outline: none;
    width: 50px;
    height: 40px;
    border-radius: 0 50px 50px 0;
    background-color: lightgrey;
}

.nav-buyhood-login {
    margin: 42px 0;
    text-align: end;
    font-size: -webkit-xxx-large;
}

.nav-buyhood-login li {
    text-align: end;
    font-size: 20px;
    display: inline-block;
    margin: 0 20px;
}

.nav-buyhood-login li a {
    color: white;
}

footer {
    background-image: linear-gradient(white, #e2e2e2);
    color: #2e2e2e;
    text-align: center;
    padding: 1vw;
}

.logo-mobile {
    display: none;
}

.links{
    margin: auto;
}

.listfooteritem {
    font-size: 15px;
    list-style: none;
    display: inline;
    padding: 0.75vw;
    
}

.listfooteritem a {
    text-decoration: none;
    color: #2e2e2e;
}

.listfooteritem a:hover {
    color: #73a942;
}

.copyright {
    font-size: 10px;
    text-align: center;
    color: gray;
    font-weight: bold;
    margin: auto;
}

.listfootertitle {
    font-weight: bold;
    list-style: none;
    font-size: 15px;
}

.fab{
    color: #2e2e2e;
    text-align: center;
    margin:1vw;
    font-size: 25px
}

.fab:hover{
    color: #73a942;
}

.card-header{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: #2e2e2e;
    color:white;
}

.card-body{
    background-image: linear-gradient(#e2e2e2, lightgray);
    color:#2e2e2e;
}

.btn-buyhood {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #2e2e2e;
}

.btn-buyhood:hover {
    color: #2e2e2e;
    border-color: #2e2e2e;
    background-color: white;
    transition: 0.5s all;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-image: linear-gradient(#e2e2e2, lightgray);
    color:black;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background:  #2e2e2e;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background:  #2e2e2e;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background:  #2e2e2e;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.modal{
    font-size: 15px;
}

.modal-content{
    background-color: rgba(0,0,0,.0001);
    border: none;
}

.navbar-mobile{
    width: 100%;
    display: none;
    position: fixed;
    background-color:lightgray;
    z-index: 5000000000;
    bottom: 0%;
}

.fas.fa-home, .fas.fa-search, .fas.fa-building, .fas.fa-user{
    color: black;
}
#modal-mobile{
    z-index: 5000000000;
}

 
@media only screen and (max-width: 1024px) {
    .navbar-mobile{
        display: block;
        text-align: center;
        padding-top:10px;
    }

    .logo-desktop-footer{
        display: none;
    }

    .ul-navbar-mobile{
        margin-top: 5px;
        display: inline-block;       
    }

    .navbar-mobile-item{
        display:inline;
        margin: 5vw;
    }

    .nav-buyhood{
        display: none;
    }        

    .nav-buyhood .logo-mobile{
        display: block;
        position: relative;
        right: 250px;
        margin-left: 0%;
    }

    .logo-mobile{
        width: 50%;
        display: block;
        margin-left: 0%;
    }

    .logo-desktop{
        width: 50%;
    }

    .botao {
        font-size: 17px;
    }

    .botao a {
        padding: 1vw;
    }

    .botao a:hover {
        color: #73a942;
        border-color: none;
        transition: 0.5s all;
        background-color: none;
    }

    .listfooteritem{
        display: block;
    }

   
    .nav-buyhood li {
        right: 100px;
        font-size: 20px;
        display: inline-block;
        margin: 0 0 0 120px;
    }

    .barra-de-pesquisa{
        position: relative;
        left: -23vw;
    }
}



 @media only screen and (max-width: 900px) {
    .nav-buyhood .logo-mobile{
        display: block;
        position: relative;
        right: 140px;
        margin-left: 0;
    }

    .logo-mobile{
        display: block;
        margin-left: 0%;
    }

    .botao {
        font-size: 17px;
    }

    .botao a {
        padding: 1vw;
    }

    .botao a:hover {
        color: #73a942;
        border-color: none;
        transition: 0.5s all;
        background-color: none;
    }

    .listfooteritem{
        display: block;
    }

    .nav-buyhood li {
        font-size: 20px;
        display: inline-block;
        margin-left: 70px;
    }
  
}


@media only screen and (max-width: 670px) {
    .nav-buyhood .logo-mobile{
        display: block;
        position: relative;
        right: 50px;
    }

    .logo-mobile {
        display: block;
        text-align: center;
    }

    .nav-buyhood li {
        font-size: 20px;
        display: inline-block;
        margin-left: 20%;
        margin-right: 10px;
    }

    .barra-de-pesquisa{
        position: relative;
        left: -35px;
    }

    .listfooteritem{
        display: block;
        margin-bottom: 10px;
    }
} 

@media 
only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
}