* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
  }

header {
    background-image: linear-gradient(#1a4301, #146601);
    border-bottom: 1px solid black;
}

.logo-desktop {
    margin: 18.5px 0 18.5px 10px;
    padding-top: 0 !important;
}

.nav-buyhood li {
    text-align: end;
    padding-top: 50px;
    font-size: 20px;
    display: inline-block;
    margin: 0 20px;
}

.nav-buyhood li a {
    color: white;
}

.pesquisa-buyhood {
    height: 40px;
    width: 350px;
    position: relative;
}

.pesquisa-buyhood input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: 50px;
}

.icone-pesquisar-buyhood {
    border: none;
    outline: none;
    width: 50px;
    height: 40px;
    border-radius: 0 50px 50px 0;
    background-color: lightgrey;
}

.nav-buyhood-login {
    text-align: end;
}

.nav-buyhood-login li {
    text-align: end;
    padding-top: 50px;
    font-size: 20px;
    display: inline-block;
    margin: 0 20px;
}

.nav-buyhood-login li a {
    color: white;
}

.dropdown-item:active {
    background-color: none !important;
}

footer {
    background-image: linear-gradient(white, #e2e2e2);
    color: #2e2e2e;
    text-align: center;
    padding: 1vw;
}

.links{
    margin: auto;
}

.listfooteritem {
    font-size: 15px;
    list-style: none;
    display: inline;
    padding: 0.75vw;
    
}

.listfooteritem a {
    text-decoration: none;
    color: #2e2e2e;
}

.listfooteritem a:hover {
    color: #73a942;
}

.copyright {
    font-size: 10px;
    text-align: center;
    color: gray;
    font-weight: bold;
    margin: auto;
}

.listfootertitle {
    font-weight: bold;
    list-style: none;
    font-size: 15px;
}

.fab{
    color: #2e2e2e;
    text-align: center;
    margin:1vw;
    font-size: 25px
}

.fab:hover{
    color: #73a942;
}



@media only screen and (max-width: 768px) {

    .navbar .navbar-item {
        font-size: 5vw;
    }

    .botao {
        font-size: 17px;
    }

    .botao a {
        padding: 1vw;
    }

    .botao a:hover {
        color: #73a942;
        border-color: none;
        transition: 0.5s all;
        background-color: none;
    }

    .listfooteritem{
        display: block;
    }
}

@media only screen and (max-width: 420px) {
    .navbar {
        padding: 0 !important;
        text-align: left;
        margin-bottom: 20px;
    }

    .navbar li a {
        margin: 0.5vw 2vh;        
    }

    .listfooteritem{
        display: block;
        margin-bottom: 10px;
    }

}