* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(#1a4301, #146601);
    border-bottom: 1px solid black;
}

.logo .desktop {
    text-align: center;
    padding: 5px 0;
}

.logo .mobile {
    display: none;
}

.dropdown-login a {
    text-decoration: none !important;
}

.botao.nav-item{
    margin-right: 1vw !important;
}

.navbar {
    font-size: 17px;
    list-style: none;
    padding: 0px !important;
    margin-bottom: 10px;
}

.navbar li a { 
    text-decoration: underline;
    color: white;
}

.navbar li a:hover {
    text-decoration: none;
    color: #73a942;
}

.botao {
    list-style: none;
    font-size: 17px;
}

.botao a {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    color: #1a4301 !important;
    background-color: white;
}

.botao a:hover {
    color: white !important;
    border-color: white;
    background: none !important;
    transition: 0.5s all;
}

footer {
    background-color: #1a4301;
    background-image: linear-gradient(#146601, #1a4301);
    border-top: 1px solid rgba(0, 0, 0, 0.425);
    color: white;
    text-align: center;
    padding: 1vw;
}

.listfooteritem {
    font-size: 15px;
    list-style: none;
    display: block;
    padding: 0.75vw;
}

.listfooteritem a {
    text-decoration: none;
    color: white;
}

.listfooteritem a:hover {
    color: #73a942;
}

.copyright {
    font-size: 15px;
    text-align: center;
    color: gray;
    font-weight: bold;
}

.listfootertitle {
    font-weight: bold;
    list-style: none;
    font-size: 15px;
}

.button-footer {
    list-style: none;
    font-size: 17px;
}

.button-footer a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 1vw;
}

.button-footer a:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
}

.social-media {
    margin-bottom: 1vw;
}

.social-media a {
    margin: 0 auto;
}

.fa {
    margin-right: 0.5vw;
    padding: 10px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none !important;
}

.fa:hover {
    color: lightgray;
    opacity: 1.5;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.button-footer {
    font-size: 17px;
}

.dropdown-item{
    color: #73a942 !important;
}

@media only screen and (max-width: 768px) {

    .navbar li a {
        display: inline-block;
        margin: 1vh 2vw;
        font-size: 20px;
    }

    .botao {
        font-size: 17px;
    }

    .botao a {
        padding: 0;
        border: none;
        background: none !important;
        color: white !important;
    }

    .botao a:hover {
        color: #73a942;
        border-color: none;
        transition: 0.5s all;
        background-color: none;
    }
}

@media only screen and (max-width: 420px) {
    .logo .desktop {
        display: none;
    }

    .logo .mobile {
        display: block;
        text-align: center;
        margin: 40px 0;
    }

    .navbar {
        padding: 0 !important;
        text-align: left;
        margin-bottom: 20px;
    }

    .navbar li a {
        margin: 0.5vw 2vh;
        display: block;
    }

}