* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.verdeclaro{
  background-color: #aad5766b;
  padding: 10vh 0;
}

.time{
  text-align: center;
}

.time-card{
  background-color: lightgray;
  border-radius: 5%;
  -webkit-box-shadow: 0px 6px 25px 3px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 6px 25px 3px rgba(0,0,0,0.8);
  box-shadow: 0px 6px 25px 3px rgba(0,0,0,0.8);
  padding: -50px;
}

.foto-time-perfil{
  border-radius: 50%;
  margin-top: 10%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom: 1px solid black;
}

.faq{
  margin-top: 10%;
  margin-bottom: 5%;  
}

.faq-title{
  text-align: center;
  margin-bottom: 2%;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn-buyhood {
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #73a942;
}

.btn-buyhood:hover {
  color: #73a942;
  border-color: #73a942;
  background-color: white;
  transition: 0.5s all;
}

@media screen and (max-width: 600px) {
  .col-lg-12, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .time-card{
    margin-top: 5%;
  }

}

@media(max-width:768px){
  body{
    width: 100vw;
    font-size: 16px;
  }
  h1{
    font-size: 30px;
  }
  
  .verdeclaro{
    background-color: #aad5766b;
    padding: 5% 15px;
  }
  
  .time-card{
    margin-top: 5%;
  }

}
@media(max-width:1024px){
  body{
    width: 100vw;
    font-size: 16px;
  }
  h1{
    font-size: 30px;
  }

  .time-card{
    margin-top: 5%;
  }
  
  .verdeclaro{
    background-color: #aad5766b;
    padding: 5% 15px;
  }
}