p{
    margin-left: 40px;
}

h3{
    margin-left: 20px;
}

h1{
    text-align: center;
}

main{
    margin: 8% 0;
}

.container{
    background-color: white;
}

body{
    background-image:url(https://i.pinimg.com/originals/ba/04/a8/ba04a8c4625ed0c3dd409f2ce160d7fa.jpg);
}

@media(max-width:400px){
    .espaco{
        padding-left:50%;
    }
}