* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.rating-stars{
    color: orange;
}

.restaurant-list{
    border-bottom: 2px solid lightgray;
    margin-bottom: 10px;
}

.restaurant-full-details{
    height: 750px;
    overflow-y: scroll;
}

.restaurant-full-details::-webkit-scrollbar{
    display: none;
}

.restaurant-photo{
    padding: 20px;
}

.restaurant-list-text{
    font-size: 15px;
    padding: 5px;
}

.restaurant-list:hover{
    background-color: lightgray;
    opacity: 1.5;
}

.allergies-checklist{
    margin-top: 20px;
}

.restaurant-name{
    font-size: 30px;
}

.hyperlink-restaurant-list{
    text-decoration: none !important;
    color: black !important;
}

.hyperlink-restaurant-list:hover{
    text-decoration: none !important;
    color: black !important;
}