/* Teste */


* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.425);
    box-shadow: 0 1px 10px 0.5px rgba(0, 0, 0, 0.473);
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fafafa;
}

.nav, .logo{
    align-items: center;
}

.navbarmain li {
    display: inline-block;
    margin: 0 10px;
    margin-top: 14px;
}

.navbarmain .login {
    border: 1px solid #02acaf;
    border-radius: 5px;
    padding: 10px;
    transform: none;
    transition: 1s all;
}

.navbarmain a {
    color: #000;
}

.navbarmain a:hover {
    color: #02acaf;
}

.navbarmain .login a {
    text-decoration: none;
    color: #02acaf;
    transition: 0.5s all;
}

.navbarmain .login:hover {
    background-color: #02acaf;
    cursor: pointer;
    transition: 1s all;
}

.navbarmain .login:hover a {
    color: white;
    transition: 0.5s all;
}

.banner {
    background-color: red;
    height: 190px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.425);
    box-shadow: 0 1px 10px 0.5px rgba(0, 0, 0, 0.473);
}

.titulo-loja {
    font-size: 4em;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;

}

.titulo-loja, .sobre-loja{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

section, main {
    background-color: #fff;
}

.conteudo {
    padding: 30px 0 0 0;
    background-color: #fafafa;
    padding: 20px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px black;
}

.conteudo-sobre h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}

.conteudo-sobre p{
    color: rgb(78, 78, 78);
    font-family:'Montserrat', sans-serif;

}

cite {
    font-weight: 500;
}

.info {
    border-top: 2px lightgray groove;
    border-bottom: 2px lightgray groove;
    padding: 10px 0 10px 70px;
}

.info .preco {
    margin-bottom: 30px;
}

.info .preco li {
    list-style: none;
}

.info .horario thead td {
    text-align: center;
}

.info .horario tbody td {
    text-align: center;
}

.info .horario tr {
    border: 1px solid black;
}

.info .horario td {
    border: 1px solid black;
    padding: 5px 10px;
}

.sobre-cardapio {
    padding: 20px;
    border-top: 2px solid lightgray;

}

.sobre-cardapio h3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}

.sobre-cardapio h3:before {
    content: "~ ";
}

.sobre-cardapio h3:after {
    content: " ~";
}

.sobre-cardapio p {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.selecione-produtos {
    background-color: #fff;
    border-top: 2px solid lightgray;

}

.selecione-produtos h4 {
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0 20px 0;
    font-size: 2em;
}

.selecione-produtos h4:before {
    content: "⸰";
}

.itens-cardapio {
    margin: 10px auto;
    width: 100%;
    color: black;
}

.itens-cardapio:hover {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.botao {
    border: 1px solid #02acaf;
    border-radius: 5px;
    padding: 6px;
    transform: none;
    transition: 1s all;
    color: rgb(112, 112, 112);
}

.botao:hover {
    background-color: #02acaf;
}

.card-img {
    padding: 10px;
}

.produtos {
    /* padding: 20px; */
    box-shadow: 0 0 5px 0 #e2e2e2;
    position: relative;
}

.produtos:after, .produtos:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease-in-out;
}

.produtos:before {
    border-left: 1px solid black;
    border-right: 1px solid black;
    transform: scaleY(0);
}

.produtos:after {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: scaleX(0);
}

.produtos:hover:before {
    transform: scaleY(1);
    border-radius: 5px;
}

.produtos:hover:after {
    transform: scaleX(1);
    border-radius: 5px;
}

.produtos:hover {
    cursor: pointer;
}

.produtos:active {
    border: 1px solid #02acaf;
    color: #02acaf;
}

.review-section-title{
    margin-top: 20px;
    margin-bottom: 60px;
    border-top: lightgray 2px solid;
    padding-top: 10px;
}

.review-section {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
.review-section::after {
    content: "";
    clear: both;
    display: table;
  }
  
.review-section img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    image-resolution: 50%;
  }
  
.review-section span {
    font-size: 20px;
    margin-right: 15px;
  }

  .last-item {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: lightgray solid 2px;
  }

  .last-item button {
    border: 1px solid #02acaf;
    border-radius: 5px;
    padding: 10px;
    transform: none;
    transition: 1s all;
    color: rgb(112, 112, 112);
  }

  .last-item button:hover {
    background-color: #02acaf;
    cursor: pointer;
    transition: 1s all;
  }
  
footer{
    background-color: lightgray;
    border-top: 1px solid rgba(0, 0, 0, 0.425);
    box-shadow: 0px 1px 10px 0.5px rgba(0, 0, 0, 0.473);
}

.listfooteritem{
    margin: 15px;
    font-size: 15px;
    list-style: none;
    display: block;
}

.listfooteritem a{
    text-decoration: none;
    color: black;
}

.logofooter{
    margin: 35px 20px 20px 20px;
}

.address{
    font-size: 15px;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none !important;
    margin: 20px 2px;
  }
  
  .fa:hover {
      color: lightgray;
      opacity: 1.5;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
  }
   
.fa-youtube {
    background: #bb0000;
    color: white;
  }
  
.fa-instagram {
    background: #125688;
    color: white;
  }

  @media (max-width: 500px) {
    .review-section {
        text-align: center;
    }
    .review-section img {
        margin: auto;
        float: none;
        display: block;
    }
  }