* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.banner {
    height: 450px;
    background-image: url(https://s3-sa-east-1.amazonaws.com/chefs-salles/destaque/banner-home.jpg);
    background-size: 100%;
    align-items: center;
}

.banner-info {
    padding-left: 50px; 
}

.banner-info h1 {
    font-size: 3.1em;
    color: #fff;
    margin-bottom: 5px;
}

.banner-info p {
    font-size: 1.2em;
    color: #dddddd;
    font-weight: bold;
}

.input-search {
    width: 70%;
    padding: 0.6em;
    border: 1px solid #000;
    border-radius: 10px;
}

.input-search:hover {
    color: #000;
    border: 1px solid #000;
    background-color: rgb(235, 235, 235);
    transition: all 0.4s;
}

.button-search {
    font-weight: 600;
    width: 15%;
    padding: 0.6em;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    background-color: #dddd;
}

.howto-title{
    font-weight: bold;
    text-align: center;
}

.howto-description{
    color: gray;
    text-align: center;
}

.howto-icons{
    margin: auto;
    width: 50%;
    color: rgb(105, 104, 104);
}

.howto-main-title{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px
}

.howto-button{
    text-align: center;
    margin-bottom: 20px;
}


.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: black;
	/* min-height: 325px; */
    text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

/* .carousel .carousel-control {
	height: 24px;
	width: 20px;	
    margin-top: 75px;
    border-radius: 100%;
} */
/* .carousel .carousel-control:hover {
	opacity: 1;
} */
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: white;
	text-shadow: none;
    font-weight: bold;
}

.carossel{
    background-color: lightgray;
}