* {
    padding: 0!important;
    margin: 0!important;
    box-sizing: border-box;
}

/* .banner {
    height: 400px;
    background-image: url(https://i.ibb.co/zVsZmmQ/banner1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;    
} */
