* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

/* Css do header */

.logo {
    text-align: center;
    padding: 5px 0;
    background-color: #146601;
}

.navbar {
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 17px;
    list-style: none;
    padding: 0 40px 20px 40px !important;
    background-color: #146601;
    margin-bottom: 0;
}

.navbar li a {
    color: white;
}


.navbar li a:hover {
    text-decoration: none;
    color: #73a942;
}

.botao {
    list-style: none;
    font-size: 17px;
}

.botao a {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px !important;
    border-radius: 5px;
    color: white;
}

.botao a:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
}

.nav-border {
    padding: 0 !important;
}

.dropdown-item{
    color: black !important;
}

.dropdown-item:hover{
    color: #73a942 !important;
}

.dropdown-menu{
    margin-left: 72%;
}

/* Css Main */

.banner {
    background-image: url(http://via.placeholder.com/1350x550);
    background-size: 100%;
    align-items: center;
    height: 550px;
}

.banner-info {
    padding-left: 50px; 
}

.banner-info h1 {
    font-size: 3.1em;
    color: #fff;
    margin-bottom: 5px;
}

.banner-info p {
    font-size: 1.2em;
    color: #dddddd;
    font-weight: bold;
}

.input-search {
    width: 70%;
    padding: 10px 0 10px 10px;    
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
}

.input-search:hover {
    color: #000;
    border: 1px solid #000;
    background-color: #b7e988;
    transition: all 0.4s;
}

.button-search {
    font-size: 17px;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px !important;
    border-radius: 5px;
    color: white;
    background-color: #73a942;
}

.button-search:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
}

.howto-title{
    font-weight: bold;
    text-align: center;
}

.howto-description{
    color: gray;
    text-align: center;
}

.howto-icons{
    margin-left: 38%;
    color: rgb(105, 104, 104);
}

.howto-main-title{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px
}

.howto-button{
    text-align: center;
    margin-bottom: 20px;
}

.titulo-restaurantes {
    text-align: center;
    padding: 2vh 10vh;
    background:#73a942;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2vh 0;
}

.titulo-restaurantes h2 {
    margin: 0;
    color: white;
}

.imagem-descubra {
    margin: 2vh 0;
}

.imagem-descubra ul li {
    display: inline-block;
}


/* Css Footer */

footer{
    background-color: #143601;
    border-top: 1px solid rgba(0, 0, 0, 0.425);
    color: white;
}

.listfooter{
    margin-top: 50px;
    margin-bottom: 50px;
}

.listfooteritem{
    margin: 15px;
    font-size: 15px;
    list-style: none;
    display: block;
}

.listfooteritem a{
    text-decoration: none;
    color: white;
}

.listfooteritem a:hover{
    color: #73a942; 
}

.copyright{
    font-size: 15px;
    text-align: center;
    margin: 30px 0px 0px 0px;
    color: gray;
    font-weight: bold;
}

.listfootertitle{
    margin-bottom:25px;
    font-weight: bold;
    list-style: none;
    font-size: 15px;
}

.button-footer {
    list-style: none;
    font-size: 17px;
}

.button-footer a {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px !important;
    border-radius: 5px;
    color: white;
}

.button-footer a:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 40px !important;
    text-align: center;
    text-decoration: none !important;
    margin: 20px 2px;
}

.fa:hover {
    color: lightgray;
    opacity: 1.5;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.button-footer{
    font-size: 17px;    
}