* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.banner-image{
  width: 100%;
  height: auto;  
}
.conteudo1{
  padding: 8vh 0 8vh 4vh;
}
.conteudo2{
  margin-top: 20vh;
  padding-left: 5vh;
}


.conteudo3{
  padding: 12vh 0 12vh 6vh;

}

.imagem{
  height: auto;
  width: 100%;
}

.verdeclaro{
  background-color: #aad5766b;
  padding: 10vh 0;
}
.cinza{
  background-color: #f2f2f2;
  padding: 10vh 0;
}

.verde{
  background-color: #aad576;
  padding: 10vh 0;
}
.tripla{
  margin: auto;
  padding-top: 10vh;
}

