* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  text-align: center;
  padding: 5px 0;
  background-color: #146601;
}

.navbar {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 17px;
  list-style: none;
  padding: 0 40px 20px 40px !important;
  background-color: #146601;
  margin-bottom: 0;
}

.navbar li a {
  color: white;
}


.navbar li a:hover {
  text-decoration: none;
  color: #73a942;
}

.botao {
  list-style: none;
  font-size: 17px;
}

.botao a {
  text-decoration: none;
  border: 1px solid white;
  padding: 15px 20px !important;
  border-radius: 5px;
  color: white;
}

.botao a:hover {
  color: #73a942;
  border-color: #73a942;
  background-color: white;
  transition: 0.5s all;
}

.nav-border {
  padding: 0 !important;
}

.dropdown-item{
  color: black !important;
}

.dropdown-item:hover{
  color: #73a942 !important;
}

.dropdown-menu{
  margin-left: 72%;
}

.banner-image{
  width: 100%;
  height: auto;  
}

.conteudo1{
  padding: 8vh 0 8vh 4vh;
}

.conteudo2{
  margin-top: 20vh;
  padding-left: 5vh;
}

.conteudo3{
  padding: 12vh 0 12vh 6vh;
}

.imagem{
  height: 100%;
  width: 100%;
}

.verdeclaro{
  background-color: #aad5766b;
  padding: 10vh 0;
}

.cinza{
  background-color: #f2f2f2;
  padding: 10vh 0;
}

.verde{
  background-color: #aad576;
  padding: 10vh 0;
}

.tripla{
  margin: auto;
  padding-top: 10vh;
}

footer{
  background-color: #143601;
  border-top: 1px solid rgba(0, 0, 0, 0.425);
  color: white;
  margin-top: 20px;
}

.listfooter{
  margin-top: 50px;
  margin-bottom: 50px;
}

.listfooteritem{
  margin: 15px;
  font-size: 15px;
  list-style: none;
  display: block;
}

.listfooteritem a{
  text-decoration: none;
  color: white;
}

.listfooteritem a:hover{
  color: #73a942; 
}

.copyright{
  font-size: 15px;
  text-align: center;
  margin: 30px 0px 0px 0px;
  color: gray;
  font-weight: bold;
}

.listfootertitle{
  margin-bottom:25px;
  font-weight: bold;
  list-style: none;
  font-size: 15px;
}

.button-footer {
  list-style: none;
  font-size: 17px;
}

.button-footer a {
  text-decoration: none;
  border: 1px solid white;
  padding: 15px 20px !important;
  border-radius: 5px;
  color: white;
}

.button-footer a:hover {
  color: #73a942;
  border-color: #73a942;
  background-color: white;
  transition: 0.5s all;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 40px !important;
  text-align: center;
  text-decoration: none !important;
  margin: 20px 2px;
}

.fa:hover {
  color: lightgray;
  opacity: 1.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.button-footer{
  font-size: 17px;    
}


@media(max-width:300px){
  .separar{
    position: relative;
    right: 20px;
  }
}

 @media(max-width:375px){

  div{
    width: 100vw;
    font-size: 8px;
    margin: 0;
  }
  p{
    font-size: 15px;
  }
  .banner-image{
    width: 100%;
    height: auto;  
  }
  
  .conteudo1{
    padding:  0;
  }
  
  .conteudo2{
    margin-top: 0vh;
    padding-left: 0vh;
  }
  
  .conteudo3{
    padding: 0;
    margin: 0;
  }
  
  .imagem{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .verdeclaro{
    background-color: #aad5766b;
    padding:  0;
  }
  
  .cinza{
    background-color: #f2f2f2;
    padding: 10vh 0;
  }
  
  .verde{
    background-color: #aad576;
    padding: 10vh 0;
  }
  
  .tripla{
    padding: 0vw;
    width: 80vw;
    height: 100vh;
  }

  .separar{
    position: relative;
    right: 3%;
  }

}

@media(max-width:1024px){
  div{
    width: 100vw;
  }
  .tripla{
    padding: 0;
    width: 85vw;
    position: relative;
    left: 5%;
  }
}




@media(max-width:7px){
  
  /*Header */
  
  header {
    width: 100vw;
  }

  header li a {
    display: block;
    margin: 5px 2px;
  }

  /* Body */
  body{
    width: 69vw;
    font-size: 8px;
  }
  h1{
    font-size: 20px;
  }
  .conteudo1{
    margin: 10px;
    padding: 0;
  }
  
  .conteudo2{
    margin-top: 10px;
    padding-left:0;
  }
  
  .conteudo3{
    margin: 10px;
    padding:0;
  }
  .verdeclaro{
    background-color: #aad5766b;
    padding:  15px;
  }
  
  .cinza{
    background-color: #f2f2f2;
    padding: 15px;
  }
  
  .verde{
    background-color: #aad576;
    padding: 15px;
  }
  
 .tripla{
   padding-top: 15px;
   margin: 10px;
 } 
  .separar{
    margin: 5px;
  }
}

@media(max-width:800px){
  body{
    width: 69vw;
    font-size: 16px;
  }
  h1{
    font-size: 30px;
  }
  .conteudo1{
    margin: 10px;
    padding: 0;
  }
  
  .conteudo2{
    margin-top: 10px;
    padding-left:0;
  }
  
  .conteudo3{
    margin: 10px;
    padding:0;
  }
  .verdeclaro{
    background-color: #aad5766b;
    padding:  15px;
  }
  
  .cinza{
    background-color: #f2f2f2;
    padding: 15px;
  }
  
  .verde{
    background-color: #aad576;
    padding: 15px;
  }
  
 .tripla{
   padding-top: 15px;
   margin: 10px;
 } 
  .separar{
    margin: 8px;
  } 
}