* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

/* Css do header */

.logo {
    text-align: center;
    padding: 5px 0;
    background-color: #146601;
}

.navbar {
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 17px;
    list-style: none;
    padding: 0 40px 20px 40px !important;
    background-color: #146601;
    margin-bottom: 0;
}

.navbar li a {
    color: white;
}


.navbar li a:hover {
    text-decoration: none;
    color: #73a942;
}

.botao {
    list-style: none;
    font-size: 17px;
}

.botao a {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px !important;
    border-radius: 5px;
    color: white;
}

.botao a:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
}

.nav-border {
    padding: 0 !important;
}

.dropdown-item{
    color: black !important;
}

.dropdown-item:hover{
    color: #73a942 !important;
}

.dropdown-menu{
    margin-left: 72%;
}

.meio{
    margin: 5% 0 5% 0;
}

.titulo {
    width: 50%!important;
    margin: 0 auto;
}

.enviar{
    margin-top: 4vh;
}

hr{
    margin-left: -20% ;
    width: 140%;
}

footer{
    background-color: #143601;
    border-top: 1px solid rgba(0, 0, 0, 0.425);
    color: white;
}

.listfooter{
    margin-top: 50px;
    margin-bottom: 50px;
}

.listfooteritem{
    margin: 15px;
    font-size: 15px;
    list-style: none;
    display: block;
}

.listfooteritem a{
    text-decoration: none;
    color: white;
}

.listfooteritem a:hover{
    color: #73a942; 
}

.copyright{
    font-size: 15px;
    text-align: center;
    margin: 30px 0px 0px 0px;
    color: gray;
    font-weight: bold;
}

.listfootertitle{
    margin-bottom:25px;
    font-weight: bold;
    list-style: none;
    font-size: 15px;
}

.button-footer {
    list-style: none;
    font-size: 17px;
}

.button-footer a {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px !important;
    border-radius: 5px;
    color: white;
}

.button-footer a:hover {
    color: #73a942;
    border-color: #73a942;
    background-color: white;
    transition: 0.5s all;
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 40px !important;
    text-align: center;
    text-decoration: none !important;
    margin: 20px 2px;
}

.fa:hover {
    color: lightgray;
    opacity: 1.5;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.button-footer{
    font-size: 17px;    
}
