* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
.meio{
    margin: 5% 0 5% 0;
}

.titulo {
    width: 50%!important;
    margin: 0 auto;
}

.enviar{
    margin-top: 4vh;
}

hr{
    margin-left: -20% ;
    width: 140%;
}
